/dev/plugins/EasyHeal/
/dev/plugins/LuckPerms/
/dev/plugins/PluginMetrics/
/dev/plugins/EasyHeal-1.0.0-SNAPSHOT.jar
/dev/world/
/dev/world_nether/
/dev/world_the_end/
/dev/logs/
/dev/banned-ips.json
/dev/banned-players.json
/dev/bukkit.yml
/dev/commands.yml
/dev/help.yml
/dev/ops.json
/dev/permissions.yml
/dev/server.properties
/dev/spigot.yml
/dev/usercache.json
/dev/whitelist.json
/target/
/.idea/
/EasyHeal.iml
